body {
    background-size: 100%;
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    margin: 0;
    padding: 5px;
    background-color: transparent;

}

#img-div {
    
    background-color: rgb(202, 202, 202);
    border: 15px transparent;
    
}
#img-caption {
    margin: 5px;
    padding: 7px;
    border: 10px transparent;
}

#image {
    width: 80%;
}
#tribute-info {
    background-color: rgb(192, 192, 192);
    display: contents;
}
